[data-body-bg=code] {
  background: radial-gradient(#262626 0%, #080808 100%);
}

[layout=code] {
}

[layout=code] h1,
[layout=code] h2,
[layout=code] h3,
[layout=code] h4,
[layout=code] h5,
[layout=code] h6,
[layout=code] p {
  color: white;
}

[layout=code] pre {
  margin-top: 0;
  /* background: #222; */
}

[layout=code] .hljs {
  font-family: Consolas, Monaco,'Andale Mono',monospace;
  background-color: transparent;
}

[layout=code] .hljs-comment {
  color: orange;
  line-height: 1;
}

section[layout=code].smaller pre {
  font-size: 16px;
}

section.split pre {
  font-size: 18px;
}

section.split pre:first-of-type {
  width: 55%;
}

section.split pre:last-of-type {
  width: 35%;
}

section.split pre:first-of-type {
  float: left;
}
section.split pre:last-of-type {
  float: right;
}

section.split.even pre {
  width: 45% !important;
}
